{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Weather Forcast</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
  </head>
  <body>
     <a href="/cities">
         <h1>Weather Forcast</h1>
     </a>
    <hr />

        {% block content %}
        {% endblock %}

      <footer>
        All Rights Reserved, Lookin' stormy 2021
      </footer>
  </body>
</html>